**/.classpath
**/.project
**/.settings
**/.factorypath
**/.vs
**/.vscode
**/.idea
**/*.*~
**/bin
**/obj
**/.git
**/.gitignore
**/.dockerignore
**/Dockerfile*
**/docker-compose*.yml
**/README.md
**/LICENSE
**/*.md
**/*.txt
**/.DS_Store
**/Thumbs.db
